{% load staticfiles %}
<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap-flex.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.css">
    <style>
        ul.menu {
            position: absolute;
            top: 0;
            list-style: none;
            font-size: 15px;
            color: #ffffff;
            background-color: #B31B1B;
            padding: 10px 50px;
            width: 100%;
        }

        ul.menu li {
            display: inline;
            color: #ffffff;
            /* text-shadow: 2px 2px 4px #000; */
        }
    </style>

    </head>

    <body>
    <ul class="menu">
        <li> Test1 </li>
        <li> Test2 </li>
    </ul>

    <div class="container">
    {% block content %} {% endblock %}
    </div>

    </body>
</html>



