{% extends "base_no_image.html" %}
{% block content %}

<!-- <ul>
{% for group in groups %}
<li> match </li>
{% endfor %}
</ul> -->

<div class="match-list">
	<table class="table">
		<thead>
			<tr>
				<th>Course</th>
				<th>Members</th>
				<th>Meeting Time</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
			{% for group in groups %}
				<tr>
					<td>{{group.course.department}} {{group.course.number}}</td>
					<td>
						{% for member in group.members %}
							{{ member.first_name }} {{ member.last_name }},
						{% endfor %}
					</td>
					<td>{{group.meeting_time}}</td>
					<td>{{group.location}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<form action="/studygroups/create_group" method="post">
<input type="submit" class="btn btn-success" value="Create a new Group">
</form>
{% endblock %}