{% extends "base_no_image.html" %}
{% block content %}

	<div class="row">
		<div class="col-sm-6">
			<h1>{{ group.name }}</h1>
			<h4>{{ group.course.department}} {{group.course.number}}: {{group.course.title}}</h4>
			<h4>{{ group.datedurationgroup.date }} {{group.datedurationgroup.time_start}} - {{group.datedurationgroup.time_end}} | {{ group.location }}</h4>
		</div>
		<div class="col-sm-6">
		<!-- Invite Panel !-->
			<h4>Requests to Join Group</h4>
			<table class="table">
				<thead>
					<tr>
						<th>Name<th>
						<th>Accept</th>
					</tr>
				</thead>
				<tbody>
				<!-- Insert Invite Info !-->
					<tr>
						<td>FillerFillerFillerFiller</td>
						<td>Filler</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h4>Members</h4>
			<table class="table">
			    <thead>
			        <tr>
			            <th>Name</th>
			            <th>Bio</th>
			            <th>LinkedIn</th>
			        </tr>
			    </thead>
			    <tbody>
			        {% for member in group.members.all %}
			            <tr>
			                <td>{{member.first_name}} {{member.last_name}}</td>
			                <td>{{member.bio}}</td>
			                <td><a href={{member.resume_or_linkedin}}>LinkedIn</a></td>
			            </tr>
			        {% endfor %}
			    </tbody>
			</table>
		</div>
	</div>
{% endblock %}